use async_trait::async_trait;
{% if mockall %}
#[cfg(feature = "mockall")]
use mockall::automock;
{% endif %}
use reqwest;
use std::sync::Arc;
use serde::{Deserialize, Serialize, de::Error};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration};
use crate::apis::ContentType;


{% if mockall %}
#[cfg_attr(feature = "mockall", automock)]
{% endif %}
#[async_trait]
pub trait {{ classname }}: Send + Sync {
{% for operation in operations %}
    /// {{ operation.http_method }} {{ operation.path }}
    {%- if operation.description.len()>0 -%}
    ///
    /// {{ operation.description }}
    {%- endif %}
    {% if operation.vendor_extensions.x_group_parameters -%}
    async fn {{ operation.operation_id }}(&self, params: {{ operation.operation_id_camel_case }}Params) -> Result<{% if operation.support_multiple_responses %}"ResponseContent<"{% endif %}{{ operation.operation_id_camel_case }}Success{% if operation.support_multiple_responses %}>{% endif %}{% if !operation.support_multiple_responses %}{{ operation.return_type }}{% endif %}, Error<{{ operation.operation_id_camel_case }}Error>>;
    {%- else -%}
    async fn {{ operation.operation_id }}(&self, {% for param in operation.all_parameters %}{{ param.name }}: {% if !param.required %}Option<{% endif %}{% if param.is_nullable %}Option<{% endif %}{{ param.data_type }}{% if param.is_nullable %}>{% endif %}{% if !param.required %}>{% endif %}{% if !loop.last %}, {% endif %}{% endfor %}) -> Result<{% if operation.support_multiple_responses %}ResponseContent<{% endif%}{{ operation.operation_id_camel_case }}Success{% if operation.support_multiple_responses %}{{ ">" }}{% endif%}{% if !operation.support_multiple_responses %}{{ operation.return_type }}{% endif%}, Error<{{ operation.operation_id_camel_case }}Error>>;
    {%- endif -%}
{% endfor %}
}

pub struct {{ classname }}Client {
    configuration: Arc<configuration::Configuration>
}

impl {{ classname }}Client {
    pub fn new(configuration: Arc<configuration::Configuration>) -> Self {
        Self { configuration }
    }
}

{% for operation in operations %}
{%- if operation.vendor_extensions.x_group_parameters -%}
/// Struct for passing parameters to the method [`{{ operation.operation_id }}`]
#[derive(Clone, Debug)]
{%- if operation.use_bon_builder -%}
#[cfg_attr(feature = "bon", derive(::bon::Builder))]
{%- endif -%}
pub struct {{ operation.operation_id_camel_case }}Params {
    {%- for param in operation.all_parameters -%}
    /// {{ param.description }}
    pub {{ param.name }}: {% if !param.required %}Option<{% endif %}{% if param.is_nullable %}Option<{% endif %}{{ param.data_type }}{% if param.is_nullable %}>{% endif %}{% if !param.required %}>{% endif %},
    {%- endfor %}
}
{%- endif -%}
{%- endfor -%}

#[async_trait]
impl {{ classname }} for {{ classname }}Client {
    {% for operation in operations -%}
    async fn {{ operation.operation_id }}(&self, {% if operation.vendor_extensions.x_group_parameters %}params: {{ operation.operation_id_camel_case }}Params{% else %}{% for param in operation.all_parameters %}{{ param.name }}: {% if !param.required %}Option<{% endif %}{% if param.is_nullable %}Option<{% endif %}{{ param.data_type }}{% if param.is_nullable %}>{% endif %}{% if !param.required %}>{% endif %}{% if !loop.last %}, {% endif %}{% endfor %}{% endif %}) -> Result<{% if operation.support_multiple_responses %}"ResponseContent<"{% endif %}{{ operation.operation_id_camel_case }}Success{% if operation.support_multiple_responses %}>{% endif %}{% if !operation.support_multiple_responses %}{{ operation.return_type }}{% endif %}, Error<{{ operation.operation_id_camel_case }}Error>> {
        // Implementation logic here
    }
    {%- endfor %}
}

{% if support_multiple_responses %}
{% for operation in operations %}
/// Struct for typed successes of method [`{{ operation.operation_id }}`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum {{ operation.operation_id_camel_case }}Success {
    {% for response in operation.responses %}
    {% if response.is2xx %}
    Status{{ response.code }}({{ response.data_type }}),
    {% endif %}
    {% endfor %}
    UnknownValue(serde_json::Value),
}
{% endfor %}
{% endif %}

{% for operation in operations %}
/// Struct for typed errors of method [`{{ operation.operation_id }}`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum {{ operation.operation_id_camel_case }}Error {
    {% for response in operation.responses %}
    {%- if response.is4xx -%}
    Status{{ response.code }}({{ response.data_type }}),
    {%- endif -%}
    {%- if response.is5xx -%}
    Status{{ response.code }}({{ response.data_type }}),
    {%- endif -%}
    {%- if response.is_default -%}
    DefaultResponse({{ response.data_type }}),
    {%- endif -%}
    {%- endfor %}
    UnknownValue(serde_json::Value),
}
{% endfor %}