[package]
name = "{{name}}"
version = "{{version}}"
edition = "2024"

[dependencies]
derive_builder = "0.20.2"
reqwest = { version = "0.12.12", default-features = false, features = [
    "json",
    "stream",
    "gzip",
    "rustls-tls",
] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serde_urlencoded = "0.7.1"
bytes = "1.10.0"
base64 = "0.22.1"
tracing = "0.1.41"
thiserror = "2.0.12"
url = "2.5.4"
futures = "0.3.31"
percent-encoding = "2.3.1"
reqwest-middleware = { version = "0.4.0", features = ["json"] }
reqwest-retry = "0.7.0"
reqwest-tracing = "0.5.5"
async-trait = "0.1.86"
anyhow = "1.0.95"
http = "1.2"

#tungstenite = "0.26.2"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
http-cache-reqwest = "0.15.1"
