{% if with_aws_v4_signature -%}
use std::time::SystemTime;
use aws_sigv4::http_request::{sign, SigningSettings, SigningParams, SignableRequest};
use http;
use secrecy::{SecretString, ExposeSecret};
{%- endif %}
{% if support_token_source -%}
use std::sync::Arc;
use google_cloud_token::TokenSource;
use async_trait::async_trait;
{%- endif %}

#[derive(Debug, Clone)]
pub struct Configuration {
    pub base_path: String,
    pub user_agent: Option<String>,
    pub client: {% if support_middleware %}reqwest_middleware::ClientWithMiddleware{% else %}reqwest::Client{% endif %},
    {% if !support_token_source -%}
    pub basic_auth: Option<BasicAuth>,
    pub oauth_access_token: Option<String>,
    pub bearer_access_token: Option<String>,
    pub api_key: Option<ApiKey>,
    {%- endif -%}
    {%- if with_aws_v4_signature %}
    pub aws_v4_key: Option<AWSv4Key>,
    {%~ endif -%}
    {%- if support_token_source %}
    pub token_source: Arc<dyn TokenSource>,
    {%- endif %}
}

{% if !support_token_source -%}
pub type BasicAuth = (String, Option<String>);

#[derive(Debug, Clone)]
pub struct ApiKey {
    pub prefix: Option<String>,
    pub key: String,
}
{%- endif %}

{% if with_aws_v4_signature -%}
#[derive(Debug, Clone)]
pub struct AWSv4Key {
    pub access_key: String,
    pub secret_key: SecretString,
    pub region: String,
    pub service: String,
}

impl AWSv4Key {
    pub fn sign(&self, uri: &str, method: &str, body: &str) -> Result<Vec<(String, String)>, aws_sigv4::http_request::Error> {
        let request = http::Request::builder()
            .uri(uri)
            .method(method)
            .body(body).unwrap();
        let signing_settings = SigningSettings::default();
        let signing_params = SigningParams::builder()
            .access_key(self.access_key.as_str())
            .secret_key(self.secret_key.expose_secret().as_str())
            .region(self.region.as_str())
            .service_name(self.service.as_str())
            .time(SystemTime::now())
            .settings(signing_settings)
            .build()
            .unwrap();
        let signable_request = SignableRequest::from(&request);
        let (mut signing_instructions, _signature) = sign(signable_request, &signing_params)?.into_parts();
        let mut additional_headers = Vec::<(String, String)>::new();
        if let Some(new_headers) = signing_instructions.take_headers() {
            for (name, value) in new_headers.into_iter() {
                additional_headers.push((name.expect("header should have name").to_string(),
                                         value.to_str().expect("header value should be a string").to_string()));
            }
        }
        Ok(additional_headers)
    }
}
{%- endif %}

impl Configuration {
    pub fn new() -> Configuration {
        Configuration::default()
    }
}

impl Default for Configuration {
    fn default() -> Self {
        Configuration {
            base_path: "{{ base_url }}".to_owned(),
            user_agent: Some("{{ user_agent }}".to_owned()),
            client: {% if support_middleware %}reqwest_middleware::ClientBuilder::new(reqwest::Client::new()).build(){% else %}reqwest::Client::new(){% endif %},
            {% if !support_token_source -%}
            basic_auth: None,
            oauth_access_token: None,
            bearer_access_token: None,
            api_key: None,
            {%- endif -%}
            {%- if with_aws_v4_signature %}
            aws_v4_key: None,
            {%- endif -%}
            {%- if support_token_source %}
            token_source: Arc::new(NoopTokenSource{}),
            {%- endif %}
        }
    }
}

{% if support_token_source -%}
#[derive(Debug)]
struct NoopTokenSource {}

#[async_trait]
impl TokenSource for NoopTokenSource {
    async fn token(&self) -> Result<String, Box<dyn std::error::Error + Send + Sync>> {
        panic!("This is a dummy token source. You can use TokenSourceProvider from the 'google_cloud_auth' crate, or any other compatible crate.")
    }
}
{%- endif %}